/* Step Quote Box Styles */

.step-quote-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 60px 20px;
  position: relative;
}

.h3-icon-outer {
  position: absolute;
  width: 79px;
  height: 79px;
  top: -32px;
  opacity: 1;
  border-width: 2.75px;
  border-style: dashed;
  border-radius: 48.37px;
  background-color: #eae6e3;
  border-color: #cead8e;
  padding: 4px;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
}

.h3-icon-inner {
  width: 69px;
  height: 69px;
  opacity: 1;
  border-radius: 48px;
  background-color: #f5f5f5;
  font-family: "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 30.73px;
  line-height: 52.33px;
  letter-spacing: -0.75px;
  text-align: center;
  vertical-align: middle;
  text-transform: capitalize;
  color: #cead8e;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-quote-box {
  position: relative;
  background: #F0E9E3;
  padding: 50px 30px 35px;
  border-radius: 14px;
  max-width: 900px;
  width: 100%;
  text-align: center;
}

.step-quote-box h2 {
  margin: 0;
  font-size: 32px;
  font-weight: 600;
  color: #000;
}

.step-quote-box p {
  margin-top: 10px;
  font-size: 16px;
  color: #666;
}

/* Tablet & Medium Screens */
@media screen and (max-width: 1024px) {
  .step-quote-box h2 {
    font-size: 28px;
  }

  .step-quote-box p {
    font-size: 15px;
  }
}

/* Mobile Screens */
@media screen and (max-width: 768px) {
  .step-quote-wrapper {
    margin: 40px 16px;
  }

  .h3-icon-outer {
    width: 70px;
    height: 70px;
    top: -28px;
    border-width: 2.5px;
  }

  .h3-icon-inner {
    width: 60px;
    height: 60px;
    font-size: 26px;
    line-height: 45px;
  }

  .step-quote-box {
    padding: 45px 20px 30px;
  }

  .step-quote-box h2 {
    font-size: 20px;
  }

  .step-quote-box p {
    font-size: 14px;
  }
}
